<h1 class="text-center py-3">Detalles de usuario con ID: {{usuario.id}}</h1>

{{#if autenticado }}
<section>
    <form id="updateUserForm">
        <div class="row mb-2">
            <div class="col-1">
                <label for="idUser">ID:</label>
            </div>
            <div class="col-3">
                <input type="number" class="form-control" id="idUser" required value="{{usuario.id}}" disabled>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-1">
                <label for="nombreUser">Nombre:</label>
            </div>
            <div class="col-3">
                <input type="text" class="form-control" id="nombreUser" required value="{{usuario.firstName}}">
            </div>
        </div>
        
        <div class="row mb-2">
            <div class="col-1">
                <label for="apellidoUser">Apellido:</label>
            </div>
            <div class="col-3">
                <input type="text" class="form-control" id="apellidoUser" required
                value="{{usuario.lastName}}">
            </div>
        </div>
        
        <div class="row mb-2">
            <div class="col-1">
                <label for="emailUser">Email:</label>
            </div>
            <div class="col-3">
                <input type="email" class="form-control" id="emailUser" required
                value="{{usuario.email}}">
            </div>
        </div>

        <input type="submit" value="actualizar" class="btn btn-warning">
       
    </form>
    <hr>
    <p>Si desea eliminar el usuario, haga clic en el botón</p>
    <button class="btn btn-danger" data-id="{{usuario.id}}" id="btnDeleteUser">Eliminar</button>

</section>

{{else}}
<p>Nombre: {{usuaril.firstName}}</p>
<p>Apellido: {{usuario.lastName}}</p>
<p>Email: {{usuario.email}}</p>

{{/if}}


<script>
    const btnDeleteUser = document.getElementById("btnDeleteUser");

    if(btnDeleteUser){
         btnDeleteUser.addEventListener("click", async (event) => {
        let id = btnDeleteUser.dataset.id;
        try{
            const token = localStorage.getItem("token");

            if(!token){
                return alert("No existe un sesión iniciada para esta operación.");
            }

            let confirmacion = confirm(`Está seguro de eliminar al usuario con ID: ${id}`);

            if(confirmacion){
                const myHeaders = new Headers();
                 myHeaders.append("Authorization", `Bearer ${token}`)

                let response = await fetch("/api/users/"+id, {
                        method: "DELETE",
                        headers:  myHeaders
                    });

                let data = await response.json();

                if(data.code == 200){
                    alert(data.message);
                    location.href = "/usuarios";
                }else if(data.code == 401){
                    alert(data.message);
                    if(data.codeToken == 1){
                        localStorage.clear();
                        location.href = "/login"
                    }
                }else {
                    alert(data.message);
                }
            }

        }catch(error){
            console.log(error);
            alert("Error al eliminar el usuario.")
        }
    });
    }
   

    const updateUserForm = document.getElementById("updateUserForm");
    if(updateUserForm){
        updateUserForm.addEventListener("submit", async (event) => {
        event.preventDefault();

        try{

            const token = localStorage.getItem("token");

            if(!token){
                return alert("No existe un sesión iniciada para esta operación.");
            }

            let usuario = {
                id: idUser.value,
                firstName: nombreUser.value,
                lastName: apellidoUser.value,
                email: emailUser.value
            };

            const myHeaders = new Headers();
            myHeaders.append("Content-Type", "application/json");
            myHeaders.append("Authorization", `Bearer ${token}`)

            const raw = JSON.stringify(usuario);

            const requestOptions = {
                method: 'PUT',
                headers: myHeaders,
                body: raw,
                redirect: 'follow'
            };

            let response = await fetch("/api/users", requestOptions);
            let data = await response.json();

            if(data.code == 201){
                alert(data.message);
                updateUserForm .reset();
                location.reload();
            }else if(data.code == 401){
                alert(data.message);
                if(data.codeToken == 1){
                    localStorage.clear();
                    location.href = "/login"
                }
            }
            else{
                console.log(data);
                alert("Obs.: "+ data.message);
            }



        }catch(error){
            console.log(error);
            alert("Error al actualizar el usuario.")
        }
    })
    }
</script>